@{
    ViewData["Title"] = "Monefy Web";
    var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ChartData);
    var jsonDataColor = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ChartDataColor);
    var categoryData = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Categories);

    var incomeCategories = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.IncomeCategories);
    var expenseCategories = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ExpenseCategories);
}

@model MonefyWeb.Application.WebPage.Models.TemporalHelperModel;

<style>
    body {
        background: -webkit-linear-gradient(to top, #1b263b 0%, #415a77 100%);
        background-image: linear-gradient(to top, #1b263b 0%, #415a77 100%);
        color: white;
        margin: 0;
        padding: 0;
    }

    .panel-container {
        background-color: #415a77;
        padding: 20px;
        width: 300px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }

        .panel-container h3,
        .panel-container p {
            color: #fff;
        }

    #donutchart {
        width: 300px;
        height: 300px;
    }

    .info-box {
        width: 200px;
    }

    .info-box, form {
        text-align: right;
    }

    .container {
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        align-items: center;
    }

    .chart-container {
        flex-grow: 1;
        margin-right: 20px;
    }

    .button-panel {
        flex-shrink: 0;
        width: 400px;
    }

    .category-container {
        display: flex; /* Cambiado a fila */
        flex-direction: column; /* Cambiado a columna */
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        max-height: 300px;
        overflow-x: hidden;
        margin-right: 30px;
        scrollbar-width: thin;
        scrollbar-color: #778da9 #778da9;
    }

        .category-container::-webkit-scrollbar {
            width: 10px;
        }

        .category-container::-webkit-scrollbar-thumb {
            background-color: #778da9;
            border-radius: 10px;
        }

        .category-container::-webkit-scrollbar-track {
            background-color: #778da9;
        }

    .category-item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    .category-image {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .category-name {
        font-weight: bold;
        color: white;
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<div class="text-center">
    <h1 class="display-4" style="color:#fff">Monefy Web Page</h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="container">
        <div class="chart-container">
            <canvas id="donutchart"></canvas>
            <script>
                var jsonData = @Html.Raw(ViewBag.ChartData);
                var labels = jsonData.map(function (item) {
                    return item.name;
                });

                var dataValues = jsonData.map(function (item) {
                    return item.totalAmount;
                });

                var customColors = jsonData.map(function (item) {
                    return item.color;
                });

                var data = {
                    labels: labels,
                    datasets: [{
                        data: dataValues,
                        backgroundColor: customColors,
                        borderColor: customColors,
                        borderWidth: 1
                    }]
                };

                var options = {
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    responsive: false,
                };

                var ctx = document.getElementById('donutchart').getContext('2d');

                var myDonutChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: data,
                    options: options
                });
            </script>
        </div>

        <div class="panel-container">
            <div class="category-container">
                @foreach (var category in ViewBag.Categories)
                {
                    <div class="category-item">
                        <img src="@category.Value" class="category-image" />
                        <span class="category-name">@category.Key</span>
                    </div>
                }
            </div>
        </div>

        <div class="panel-container">
            <div>
                <h3>Account</h3>
                <p style="color:green;">+@ViewBag.Incomes €</p>
                <p style="color:red;">-@ViewBag.Expenses €</p>
                <p>-----------------</p>
                <p>@ViewBag.Balance €</p>
            </div>

            <form method="post">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
                    +
                </button>

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="addModalLabel" style="color:black;">Income</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="add-amount" style="color:black;">Amount:</label>
                                    <input type="text" class="form-control" id="add-amount" name="IncomeAmount">
                                </div>
                                <div class="form-group">
                                    <label for="income-category" style="color:black;">Category:</label>
                                    <select class="form-control" id="income-category" name="IncomeCategory" asp-for="IncomeCategory">
                                        @foreach (var incomeCategory in ViewBag.IncomeCategories)
                                        {
                                            <option value="@incomeCategory.Key">@incomeCategory.Value</option>
                                        }
                                    </select>
                                    <input type="hidden" id="selectedIncomeCategory" name="IncomeCategory" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" style="color:black;">Date:</label>
                                <input type="date" class="form-control" id="date" name="Date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitIncome"
                                        asp-controller="AccountChart" asp-action="AddIncome">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#substractModal">
                    -
                </button>

                <div class="modal fade" id="substractModal" tabindex="-1" role="dialog" aria-labelledby="substractModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="substractModalLabel" style="color:black;">Expense</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="substract-amount" style="color:black;">Amount:</label>
                                    <input type="text" class="form-control" id="substract-amount" name="ExpenseAmount">
                                </div>
                                <div class="form-group">
                                    <label for="expense-category" style="color:black;">Category:</label>
                                    <select class="form-control" id="expense-category" name="ExpenseCategory" asp-for="ExpenseCategory">
                                        @foreach (var expenseCategory in ViewBag.ExpenseCategories)
                                        {
                                            <option value="@expenseCategory.Key">@expenseCategory.Value</option>
                                        }
                                    </select>
                                    <input type="hidden" id="selectedExpenseCategory" name="ExpenseCategory" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" style="color:black;">Date:</label>
                                <input type="date" class="form-control" id="date" name="Date">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitExpense"
                                        asp-controller="AccountChart" asp-action="SubstractExpense">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
